<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 th:text="#{welcome}">Welcome</h2>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Veterinarians currently on-call</h2>
            <small>(Served from authenicated REST API.)</small>
            <table id="vets" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Specialties</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vet : ${vets}">
                    <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
                    <td>
                        <span th:each="specialty : ${vet.specialties}"
                      th:text="${specialty + ' '}" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

  </body>

</html>